<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="a simple note taker." />
    <meta name="keywords" content="note taker webApp" />
    <meta name="author" content="K.T Motshoana" />
    <meta name="theme-color" content="transparent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="transparent">
    <title>kwala</title>
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='./images/n152.png') }}" />
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='./images/n144.png')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/main.css') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='./manifest.json') }}"/>
    <script type="module" src="{{ url_for('static', filename='./js/main.js')}}">
    </script>
    <script defer>
   
   if ("serviceWorker" in navigator) {
        window.onload = async e => {
          try{
              const reg = await navigator
                                .serviceWorker
                                .register("../sw.js");
              console.log(`Service worker registerd, scope: ${reg.scope}`)
          } catch (err) {
            console.error(`Bothta ke bo : ${err}`)
          }
        }
      }
    </script>

</head>
  {% block style %}
  {% endblock %}
<body>

    {% block navbar %}
    {% endblock %}
    
    {% block notes %}
    {% endblock %}
    {% block auth_form %}
    {% endblock %}

</body>

</html>